@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #222222;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #DB6B6B;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #7CEB88;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #B2DA6C;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
a:link {
     color: #97B3DA;
}
a:visited {
     color: #7292DA;
}
a:hover, a:active, a:focus { 
     text-decoration: underline, bold;
}
.footer {
	background: #4358D6;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
